designs/pages/forgotPasswowrd.json
[
    {
        "id": "sd_0gnYLAWUqnINq9N0",
        "type": "tab",
        "createdDate": "2024-05-23T06:54:10.637Z",
        "label": "forgotPasswowrd",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_PsOyi5kSzjhJ2DrJ",
        "type": "OnInit",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PsOyi5kSzjhJ2DrJ",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_WjiIzzwjZaoJXURi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_WjiIzzwjZaoJXURi",
        "type": "PageVariables",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "emailPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: '' }"
                }
            },
            {
                "textIp": "url",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_WjiIzzwjZaoJXURi",
        "category": "Function",
        "x": 165,
        "y": 20,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_YIrGoHpekiUg6eP9",
        "type": "PageStart",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sd_YIrGoHpekiUg6eP9",
        "category": "General",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "sd_ajo2bp8f9UKLyAbu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgotPasswowrdComponent"
    },
    {
        "id": "sd_ajo2bp8f9UKLyAbu",
        "type": "PageSwitch",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ajo2bp8f9UKLyAbu",
        "category": "Function",
        "x": 245,
        "y": 200,
        "wires": [
            [
                "sd_yYwROCU8jNgaD8Ub"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_L1QgRt7XT495Ri4j",
        "type": "HttpRequest",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_L1QgRt7XT495Ri4j",
        "category": "HTTP",
        "x": 505,
        "y": 120,
        "wires": [
            [
                "sd_2KUDClDQIvTBGlLj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_yYwROCU8jNgaD8Ub",
        "type": "Environment",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_yYwROCU8jNgaD8Ub",
        "category": "General",
        "x": 345,
        "y": 120,
        "wires": [
            [
                "sd_AanO8EACgAAmpCL4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_AanO8EACgAAmpCL4",
        "type": "Script",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true;\nbh.url = bh.url + 'get-admin';\n// page.loader = true;\nconsole.log(bh.input.form)\nconsole.log(page.userDetails)\n",
        "functionName": "sd_AanO8EACgAAmpCL4",
        "category": "Function",
        "x": 425,
        "y": 120,
        "wires": [
            [
                "sd_L1QgRt7XT495Ri4j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_2KUDClDQIvTBGlLj",
        "type": "PageSwitch",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "userDetails.email",
        "propertyType": "this.page",
        "propertyGv": "this.page.userDetails.email",
        "rules": [
            {
                "t": "se",
                "v": "result.email",
                "vt": "bh",
                "gv": "bh.result.email"
            },
            {
                "t": "sne",
                "v": "result.email",
                "vt": "bh",
                "gv": "bh.result.email"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2KUDClDQIvTBGlLj",
        "category": "Function",
        "x": 620,
        "y": 100,
        "wires": [
            [],
            [
                "sd_nsoHQdI24ruAd527"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    },
    {
        "id": "sd_nsoHQdI24ruAd527",
        "type": "SnackBar",
        "z": "sd_0gnYLAWUqnINq9N0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Incorrect email address"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_nsoHQdI24ruAd527",
        "category": "General",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgotPasswowrdComponent",
        "generated": true
    }
]
