designs/pages/Reports.json
[
    {
        "id": "sd_CRQh9b27I7u4Q6yC",
        "type": "tab",
        "createdDate": "2024-05-16T10:21:34.939Z",
        "label": "Reports",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_ufJSuWzjbrEAJKtM",
        "type": "OnInit",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_ufJSuWzjbrEAJKtM",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_FUCWX8JLQb5hCT7C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_yejAp2yyrgV5htH6",
        "type": "PageVariables",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_yejAp2yyrgV5htH6",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_W4eVynEP5bq3lmAn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_LveZHP70KdonnkIW",
        "type": "Environment",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_LveZHP70KdonnkIW",
        "category": "General",
        "x": 185,
        "y": 220,
        "wires": [
            [
                "sd_RAYCgIvcv6u00hCH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_RAYCgIvcv6u00hCH",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.sumbit = true;\nbh.url = bh.ssdUrl + 'get-customers';\nbh.urlLoans = bh.ssdUrl + 'get-loans';\n// page.loader = true;\n// console.log(bh.input.form)",
        "functionName": "sd_RAYCgIvcv6u00hCH",
        "category": "Function",
        "x": 305,
        "y": 220,
        "wires": [
            [
                "sd_VcK9Ma3rSdE0JJWP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_VcK9Ma3rSdE0JJWP",
        "type": "PageSwitch",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "sumbit",
        "propertyType": "bh",
        "propertyGv": "bh.sumbit",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_VcK9Ma3rSdE0JJWP",
        "category": "Function",
        "x": 405,
        "y": 220,
        "wires": [
            [
                "sd_VS8xIRRCrbv7SSQi"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_VS8xIRRCrbv7SSQi",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.resultAccounts",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultAccounts"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_VS8xIRRCrbv7SSQi",
        "category": "HTTP",
        "x": 505,
        "y": 220,
        "wires": [
            [
                "sd_Fp1qYYWBw3IPWIyt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_2XbIdhmdmI1NYgpg",
        "type": "SnackBar",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Logged In successfully"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2XbIdhmdmI1NYgpg",
        "category": "General",
        "x": 625,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_J4L7vrr7VIuFTIHo",
        "type": "Log",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.updated",
        "functionName": "sd_J4L7vrr7VIuFTIHo",
        "category": "General",
        "x": 845,
        "y": 100,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "updated",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_3kmljMJkUYUoPVOE",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.updated = page.resultAccounts.filter((resultAccounts: any) => resultAccounts.status === 'approved' || resultAccounts.status === 'rejected')\nbh.updatedLoans = page.resultLoan.filter((resultLoan: any) => resultLoan.status === 'approved' || resultLoan.status === 'rejected')\n\nbh.data = bh.updated.concat(bh.updatedLoans)\n\nbh.local.dataSource = new MatTableDataSource(bh.data);\n\nconsole.log(\"accounts\",bh.updated)\nconsole.log(\"loans\",bh.updatedLoans)\n\n\nconsole.log(\"data from accounts\",bh.local.dataSource)\n\n\nconsole.log('updated: ',bh.updated)\n\n\n// console.log(bh.data)",
        "functionName": "sd_3kmljMJkUYUoPVOE",
        "category": "Function",
        "x": 665,
        "y": 220,
        "wires": [
            [
                "sd_UcyCXgudi5PelR5R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_FUCWX8JLQb5hCT7C",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "",
        "functionName": "sd_FUCWX8JLQb5hCT7C",
        "category": "Function",
        "x": 105,
        "y": 20,
        "wires": [
            [
                "sd_yejAp2yyrgV5htH6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_UcyCXgudi5PelR5R",
        "type": "PageVariables",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_UcyCXgudi5PelR5R",
        "category": "Function",
        "x": 765,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_W4eVynEP5bq3lmAn",
        "type": "UseDependency",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "DatePipe",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "datePipe"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_W4eVynEP5bq3lmAn",
        "category": "Function",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "sd_LveZHP70KdonnkIW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_XmddD2zsZRBRSt5F",
        "type": "Environment",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XmddD2zsZRBRSt5F",
        "category": "General",
        "x": 185,
        "y": 340,
        "wires": [
            [
                "sd_KRDzpGTTSj6pHhnd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_KRDzpGTTSj6pHhnd",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.sumbit = true;\nbh.url = bh.ssdUrl + 'get-loans';\n\n// page.loader = true;\n// console.log(bh.input.form)",
        "functionName": "sd_KRDzpGTTSj6pHhnd",
        "category": "Function",
        "x": 328,
        "y": 360.8020935058594,
        "wires": [
            [
                "sd_9r5l6RNYekZkq78M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_Q2p9IcWkidOt3rek",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_Q2p9IcWkidOt3rek",
        "category": "HTTP",
        "x": 540,
        "y": 373.8020935058594,
        "wires": [
            [
                "sd_iD3PRPEFaXdAFYH8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_iD3PRPEFaXdAFYH8",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.updatedLoans = page.result.filter((result: any) => result.status === 'approved' || result.status === 'rejected')\nconsole.log(\"loans\",bh.updatedLoans)\nconsole.log('updated: ',bh.updated)\nbh.data = bh.updated.concat(bh.updatedLoans)\n\n// bh.local.dataSource = new MatTableDataSource(bh.data);",
        "functionName": "sd_iD3PRPEFaXdAFYH8",
        "category": "Function",
        "x": 637,
        "y": 390.8020935058594,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_lNXpgD4z0uGbNhrL",
        "type": "PageStart",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "pages",
        "nodeType": "start",
        "name": "add loans",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addLoans",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_XmddD2zsZRBRSt5F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    },
    {
        "id": "sd_9r5l6RNYekZkq78M",
        "type": "PageSwitch",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "sumbit",
        "propertyType": "bh",
        "propertyGv": "bh.sumbit",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9r5l6RNYekZkq78M",
        "category": "Function",
        "x": 445,
        "y": 340,
        "wires": [
            [
                "sd_Q2p9IcWkidOt3rek"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_Fp1qYYWBw3IPWIyt",
        "type": "HttpRequest",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.urlLoans",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "urlLoans"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userData",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userData"
        },
        "resultMapping": "this.page.resultLoan",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultLoan"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_Fp1qYYWBw3IPWIyt",
        "category": "HTTP",
        "x": 585,
        "y": 220,
        "wires": [
            [
                "sd_3kmljMJkUYUoPVOE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ReportsComponent",
        "generated": true
    },
    {
        "id": "sd_gx7gBGmCT1D3KNdj",
        "type": "Script",
        "z": "sd_CRQh9b27I7u4Q6yC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.updatedLoans = page.result.filter((result: any) => result.status === 'approved' || result.status === 'rejected')\nconsole.log(\"loans\",bh.updatedLoans)\nconsole.log('updated: ',bh.updated)\nbh.data = bh.updated.concat(bh.updatedLoans)\n\n// bh.local.dataSource = new MatTableDataSource(bh.data);",
        "functionName": "sd_gx7gBGmCT1D3KNdj",
        "category": "Function",
        "x": 625,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ReportsComponent"
    }
]
