designs/pages/selectedAccount.json
[
    {
        "id": "sd_CUdG72L76nFuQSLQ",
        "type": "tab",
        "createdDate": "2024-05-19T19:40:20.258Z",
        "label": "selectedAccount",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "selectedAccountComponent"
    },
    {
        "id": "sd_ywzz9ome4ipvMLn4",
        "type": "OnInit",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ywzz9ome4ipvMLn4",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_r0NBfpD9TAbJxxpR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedAccountComponent"
    },
    {
        "id": "sd_PusFvhk8A8TLr0It",
        "type": "PageVariables",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "surname",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "idNumber",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "cellNumber",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "status",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "doc",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "currentAccount",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "update_",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "userInfos",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "userData",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "time",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_PusFvhk8A8TLr0It",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_IkUSiGaxwOxOMbuB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_r0NBfpD9TAbJxxpR",
        "type": "UseDependency",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_r0NBfpD9TAbJxxpR",
        "category": "Function",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "sd_PusFvhk8A8TLr0It"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_IkUSiGaxwOxOMbuB",
        "type": "Script",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let userDataString = sessionStorage.getItem('user');\n\nlet userData = JSON.parse(userDataString || '[]');\npage.userData = userData;\n\nconsole.log(\"recived\",page.userData)",
        "functionName": "sd_IkUSiGaxwOxOMbuB",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_JYu28XuAYGu1EOfQ",
        "type": "PageStart",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "update",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "update",
        "category": "General",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "sd_hlyQvbb4MWnGm656"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedAccountComponent"
    },
    {
        "id": "sd_hlyQvbb4MWnGm656",
        "type": "Environment",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_hlyQvbb4MWnGm656",
        "category": "General",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "sd_t0WrKccwRUxUgDz2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_t0WrKccwRUxUgDz2",
        "type": "Script",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.update_ = true;\npage.userData.date =  new Date();\npage.userData.comeFrom = \"Account\";\nbh.url = page.ssdUrl + 'update-admin';\nbh.collection = 'users';\n",
        "functionName": "sd_t0WrKccwRUxUgDz2",
        "category": "Function",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "sd_F7pMRSznh0ePoEDI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_F7pMRSznh0ePoEDI",
        "type": "PageSwitch",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_F7pMRSznh0ePoEDI",
        "category": "Function",
        "x": 505,
        "y": 240,
        "wires": [
            [
                "sd_ZGmTZ5vfJULOXQ9G"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_ZGmTZ5vfJULOXQ9G",
        "type": "HttpRequest",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userData",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userData"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_ZGmTZ5vfJULOXQ9G",
        "category": "HTTP",
        "x": 645,
        "y": 200,
        "wires": [
            [
                "sd_TCMYWfYnqGAdFa9j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_uPrBMe8CMB0JlMxz",
        "type": "Storage",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "this.page",
            "value": "userData"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDataInfo"
        },
        "functionName": "sd_uPrBMe8CMB0JlMxz",
        "category": "Storage",
        "x": 325,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedAccountComponent"
    },
    {
        "id": "sd_WiLnIfqWDMqSJlji",
        "type": "Log",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.result",
        "functionName": "sd_WiLnIfqWDMqSJlji",
        "category": "General",
        "x": 725,
        "y": 100,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedAccountComponent"
    },
    {
        "id": "sd_TCMYWfYnqGAdFa9j",
        "type": "SnackBar",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User status update"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_TCMYWfYnqGAdFa9j",
        "category": "General",
        "x": 805,
        "y": 160,
        "wires": [
            [
                "sd_qZOHqHvyD1ikeojM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_qZOHqHvyD1ikeojM",
        "type": "Navigation",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/Account Management",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_qZOHqHvyD1ikeojM",
        "category": "Navigation",
        "x": 885,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_K3u7M8kehxbDoBjf",
        "type": "PageStart",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get doc",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getDoc",
        "category": "General",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "sd_PWz85DlZugxawqQE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selectedAccountComponent"
    },
    {
        "id": "sd_PWz85DlZugxawqQE",
        "type": "Environment",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_PWz85DlZugxawqQE",
        "category": "General",
        "x": 245,
        "y": 340,
        "wires": [
            [
                "sd_j1Fo8ACCS8TXDBlK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_j1Fo8ACCS8TXDBlK",
        "type": "Script",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.email = page.userData.email;\nbh.url = page.ssdUrl + 'get-doc';\n\n",
        "functionName": "sd_j1Fo8ACCS8TXDBlK",
        "category": "Function",
        "x": 378.6666564941406,
        "y": 354.1354064941406,
        "wires": [
            [
                "sd_udhthnzD3lnWWwfD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    },
    {
        "id": "sd_udhthnzD3lnWWwfD",
        "type": "HttpRequest",
        "z": "sd_CUdG72L76nFuQSLQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.email",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "email"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_udhthnzD3lnWWwfD",
        "category": "HTTP",
        "x": 492.6666564941406,
        "y": 342.1354064941406,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selectedAccountComponent",
        "generated": true
    }
]
